#panelClientePry {
    border-radius: 20px;
    padding: 1.6%;
}

#title {
    background-color: #C8CACB;
    padding-top: 20.72%;
    padding-bottom: 4.56%;
}

#listado {
    background-color: rgba(0, 0, 0, 0);
}

#btnMenu {
    margin-top: 3.5%;
    margin-right: 80.5%;
}


/*-----------Plantilla de los clientes que están en proyectos del empleado---------------*/

#not_project {
    margin-top: 1.8%;
}

#clientes {
    margin-top: 0.6em;
}